
<div class="row">
  <div class="col-xs-12 text-center">
    <h2>Welcome to Book-a-Tron</h2>
    <br>
    <div>
      <a href="/books" class="btn btn-primary" role="button">BOOKS</a>
      <a href="/authors" class="btn btn-success" role="button">AUTHORS</a>
    </div>
  </div>
</div>
